<h2 class="repos_name"><a href="<%= repository_path(params[:repository]) %>"><%= make_readable(params[:repository]) %></a></h2>

<%# @repository.description %>


<h3>Branches</h3>
<% unless @repository.branches.blank? %>
  <ul>
    <% @repository.branches.each do |branch| %>
      <li><a href="<%= commit_path(params[:repository], branch.name) %>"><%= branch.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <li>No branches yet</li>
<% end %>

<h3>Tags</h3>
<% unless @repository.tags.blank? %>
  <ul>
    <% @repository.tags.each do |tag| %>
      todo
    <% end %>
  </ul>
<% else %>
  <p>No tags yet</p>
<% end %>
