* { margin: 0px; padding: 0px; }

body {
    font: normal 100% Arial, Helvetica, sans-serif;
    color:#2A2B2E;
    text-align:center;
    background-image:url('/images/layout/pattern.gif');
    font-size:100%;
    line-height:1.2em; 
}

#container { font-size: 0.9em; }

ol{list-style:decimal}
ul{list-style:square}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

p { font-size: 0.9em;}

form input[type="text"],
form input[type="password"],
form input[type="password_confirm"] {
    border:1px solid #c3c3c3;
    border-top:1px solid #666;
    border-bottom:1px solid #ddd;
    background: #fff url("/images/_ui/public/fieldbg.gif") 0 0 repeat-x;
    padding:7px;
    font-size:1em;
    color:#333;
}
form select {
    padding:0;
}
form textarea {
    font: normal 1em/1.5em "Lucida Grande", helvetica, arial, sans-serif;
    color:#333;
    border:1px solid #c3c3c3;
    border-top:1px solid #666;
    border-bottom:1px solid #ddd;
    background: #fff url("/images/_ui/public/fieldbg.gif") 0 0 repeat-x;
    padding:2px 0;
}


form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="password_confirm"]:focus,
form textarea:focus {
    border:1px solid #91b8da;
    color:#000;
}
form select:focus {
    border:1px solid #91b8da;
    color:#000;
}


h1 {font-size:1.6em;}
h2 {font-size:1.5em;}
h3 {font-size:1.4em;}
h4 {font-size:1.3em;}
h5 {font-size:1.2em;}
h6 {font-size:1.1em;}

h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; margin-top: 20px; }

a { color: #525555; text-decoration: none; }
a:hover { text-decoration: underline; }

blockquote {
    padding: 10px;
    background-color: #ccc;
}

table { margin-bottom : 1.4em; }
/*th { border-bottom : 2px solid #433b34; font-weight : bold; }
td { border-bottom : 1px solid #ddd; }
th,td { padding : 4px 10px 4px 0; }
tfoot { font-style : italic; }*/
th, td { text-align: left; padding: 8px;}
tr.odd { background-color: #DFDFDF; }
th { background-color: #6387A7; color: white;}
td { border-bottom: 1px solid #D5D2D2;
    border-left: 1px solid #E2E2E2;
}
fieldset {
    background-color: #F3FFFF;
    padding: 6px;
    border: 1px solid #D5DFDF;
}

fieldset legend {
    color: #3296C0;
    font-size: 1.2em;
    padding: 4px;
}
form p { }

label { font-weight:bold; color: #517198;
}